@import 'ant-design-vue/dist/antd.css';

html, body, #app, .main, .ant-layout {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.user-center-dropdown .ant-dropdown-menu {
    text-align: center;
}

.user-center-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    color: #999;
}

.ant-layout-sider .ant-layout-sider-children > .ant-menu {
    height: 100%;
    border-right: 0;
    padding-bottom: 42px;
    overflow: auto;
}

.ant-layout-sider .ant-layout-sider-children > .ant-menu::-webkit-scrollbar {
    width: 0; /* 滚动条宽度 */
    height: 2px; /* 滚动条高度 */
}

.ant-layout-sider .ant-layout-sider-children > .ant-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background-color: #eee;/*滚动条的背景颜色*/
}

.ant-layout-sider .ant-layout-sider-children > .ant-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: #cdcdcd;  /*滚动条的背景颜色*/
}

.ant-layout-sider .ant-menu-item, .ant-layout-sider .ant-menu-submenu-title {
    width: 100%!important;
    user-select: none;
}

.page-extra-operation {
    margin-bottom: 16px;
}

.page-extra-operation .ant-btn {
    margin-right: 8px;
}

.table-wrap .ant-tag {
    margin: 0;
}

.ant-input-number {
    width: 100%!important;
}

.ant-btn {
    border-radius: 5px;
}